.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.screen-header__column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-header__column h1{
    font-size: 25px;
    font-weight: 600;
}

.screen-header__column i{
    margin-left: 20px;
}

.screen-header__column:last-child{
    position: relative;
}

.chats-screen-header__dot{
    position:absolute;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-screen-header__dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    top: -8px;
    right: -7px;
}