.user-component-lg, .user-component-sm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.user-component-lg__column{
    display: flex;
}

.user-component-lg__column:first-child{
    justify-content: space-evenly;
    align-items: center;
}

.user-component-lg__column__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15px;
}

.user-component-lg__column__text span{
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
    font-family: 'Gamja Flower', cursive;
}

.user-component-lg__column:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
    align-items: flex-end;
}

.user-component-lg__column:last-child span{
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

.user-component-lg__column:last-child div{
    color: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-component-sm__column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-component-lg__column img{
    width: 60px;
    height: 60px;
    border-radius: 22px;
}

.user-component-sm__column img{
    width: 50px;
    height: 50px;
    border-radius: 18px;
}

.user-component-lg__column h3{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Gamja Flower', cursive;
}

.user-component-sm__column:first-child span{
    font-size: 20px;
    font-weight: 500;
}

.user-component-sm__column:last-child{
    color: rgba(0, 0, 0, 0.3);
}

.user-component-sm__column span{
    margin: 0 5px 0 15px;
}